

<%= render partial: 'layouts/errors', locals: {
object: @movie } %>

<%= form_for(@movie) do |f|%>
<div>
<%= f.label :title %>
<%= f.text_field :title %></br>
</div>
<div>
<%= f.label :description %>
<%= f.text_area :description %></br>
</div >
<p>Select a genre that already exists</p>
<div>
<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: 'Select One' %>
</div>
<p>Or create a new genre</p>
<%= f.fields_for :genre  do |g| %>
<%= g.label :name %>
<%= g.text_field :name %>
<% end %>
<div>
</div>
<p>Select a Director</p>
<%= f.collection_select :director_id, Director.all, :id, :name, include_blank: 'Select One' %>
<div>
<%= %>
</div>
<p>Or add a new director</p>
<div>
<%= f.fields_for :director  do |d| %>
<%= d.label :name %>
<%= d.text_field :name %>
<% end %>
</div>
<%= f.submit "Create Movie"%>
<% end %>